
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="container">
    <!-- Form section begins-->
    <section class="row">
        <div class="col-md-6">
            <h4>create</h4>
            <div class="form-horizontal">
                <div class="form-group row">
                    <label class="col-md-3">Name : </label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="name" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3">Salary : </label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="salary" />
                    </div>
                </div>

                <input type="text" class="form-control" id="employee-id" style="display:none;" />

                <button class="btn btn-primary" type="button" id="create-btn">Create</button>
                <button class="btn btn-primary" type="button" id="update-btn">Update</button>
                <button class="btn btn-default" type="button" id="cancel-btn">Cancel</button>
            </div>
        </div>
    </section>
    <!-- Form section ends-->
    <!-- Loader section begins-->
    <section class="row" id="loader" style="display:none;">
        <h2>Loading...</h2>
    </section>
    <!-- Loader section ends-->
    <!-- Table section begins-->
    <section class="row">
        <div class="md-col-6">
            <h4>List of employees</h4>

            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Salary</th>
                        <th>Acions</th>
                    </tr>
                </thead>
                <tbody id="employee-tablebody">
                    <tr>
                        <td>No records</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <!-- Table section ends-->
</div>

@section scripts{

    <script src="~/Scripts/app.js"></script>
}

