
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Demo2</title>
</head>
<body>
    <div>
        <h1> city: @TempData["City"]    </h1>
        <h1> pincode: @TempData["Pincode"]    </h1>
    </div>
</body>
</html>
