
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
</head>
<body>
    <div>
        <h1>@Model.Id</h1>
        <h1>@Model.Name</h1>
        <h1>@Model.Department</h1>
        @*<h1>@((Object)Model).Id</h1>*@
    </div>
</body>
</html>
