
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
</head>
<body>
    <div>
        <h1>@Model.GetType().GetProperty("Id").GetValue(Model,null)</h1>
        <h1>@Model.GetType().GetProperty("Name").GetValue(Model, null)</h1>
        <h1>@Model.GetType().GetProperty("Department").GetValue(Model, null)</h1>
    </div>
</body>
</html>
