
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AboutUs</title>
</head>
<body>
    <div>
        <h1>About Us</h1>
        <a href="http://localhost:62830/Home/index" >Go to Index page</a>
    </div>
</body>
</html>
