
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetDateAndTime</title>
</head>
<body>
    <div>
        <p>Current Date and Time is <b> @DateTime.Now.ToString()</b></p>
    </div>
</body>
</html>
